*{
  margin: 0px;
  padding: 0px;
}

#map{
  height: 900px;
  /*max-width: 700px;*/
  margin: auto;
}

header{
  background-color: #005375;
  height: 45px;
  padding: 10px;
}

.hiddenHeaderSection{
  position: absolute;
  height: 45px;
  padding: 10px 20px;
  width: 100%;
}

.listViewButton, .mapViewButton{
  font-size: 2.5em;
  float: left;
}

.mapViewButton{
  float: right;
  position: relative;
  right: 40px;
  top: -5px;
}

div.headerSectionTwo{
  background-color: #002d51;
  height: 10px;
  padding: 0px;
}

main{
  background-color: #00335B;
  min-height: 200px;
  padding: 0px; /*5px;*/
}

h1, h3{
  font-family: 'Lato',Helvetica,Arial,sans-serif;
  font-weight: 900;
  letter-spacing: .01em;
  text-align: center;
}

body{
  background-color: #00335B;
  /* overflow: hidden; //change later */
  overflow-x: hidden;
}

.firstHeading {
  color: black;
}

h2, h3, h1, li {
  font-family: 'Lato',Helvetica,Arial,sans-serif;
  color: white;
  margin: 0px;
}

a {
  font-family: 'Lato',Helvetica,Arial,sans-serif;
  color: blue;
  margin: 0px;
}

#content {
  color: black;
}

#content2 {
  color: red;
}

a{
  text-decoration: none;
}
